.newsImg {
  display: block;
  max-width: 90%;
  width: flex;
  height: flex;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  display: inline-block;
  max-width: 60%;
  width: flex;
  height: flex;
}

.article-card {
}

.bordered {
  border-style: solid;
}

.article-title {
  font-weight: 800;
  color: rgb(56, 56, 56);
}

.not-for-me-button {
  font-weight: 800;
  color: rgb(56, 56, 56);
  background-color: #ffffff;
  outline-color: rgb(56, 56, 56);
  border-color: rgb(56, 56, 56);
}

.comment-button {
  font-weight: 800;
  color: rgb(56, 56, 56);
  background-color: #ffffff;
  border-color: rgb(56, 56, 56);
}

.repost-button {
  font-weight: 800;
  color: rgb(56, 56, 56);
  background-color: #ffffff;
  outline-color: rgb(56, 56, 56);
  border-color: rgb(56, 56, 56);
}

.article-author-date {
  max-height: 12%;
}
.article-title {
  max-height: 37%;
  /* padding-top: 20px; */
}

.article-date {
  text-align: right;
}

.article-container {
  font-family: "Times New Roman";
  color: #1f1919;
  padding-right: 10px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 25px;
  width: 100%;
  position: left;
  float: left;
}
.like-num {
  text-align: right;
  color: #1f1919;
  font-size: 30;
  font-family: "TimesNewRoman",
                  
}

.commentsBox {
  width: auto;
  max-height: 250px;
  overflow-y: scroll;
  display: inline-block;
  margin-left: 20px;
}

.commentsSection {
  width: 100%;
  max-height: 250px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.postComment {
  padding: 10px;
}
