.bubbleSet {
  width: 95%;
  max-width: 1200px;
  height: 800px;
  border-radius: 5px;
  overflow: hidden;
  /* background-color: white !important; */
  overflow: hidden !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.action:hover {
  transform: scale(1.6);
}

.bubbleUI {
  width: 600px; /* width of BubbleUI container */
  height: 400px; /* height of BubbleUI container */
}

.bubble {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.TopicBubble {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.TopicBubble:hover {
  opacity: 0.5;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
