.newsImg {
  display: block;
  max-width: 90%;
  width: flex;
  height: flex;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  /* display: inline-block; */
  max-width: 20px;
  max-height: 20px;
  width: flex;
  height: flex;
}

.article-card {
}

.bordered {
  border-style: solid;
}

.title {
  font-weight: 800;
  color: rgb(56, 56, 56);
}

.title-light {
  font-weight: 600;
  padding-left: 5%;
  padding-top: 100px;
  color: rgb(218, 211, 211);
}

.not-for-me-button {
  font-weight: 800;
  color: rgb(56, 56, 56);
  background-color: #ffffff;
  outline-color: rgb(56, 56, 56);
  border-color: rgb(56, 56, 56);
}

.comment-button {
  font-weight: 800;
  color: rgb(56, 56, 56);
  background-color: #ffffff;
  border-color: rgb(56, 56, 56);
}

.pod-card{
  background: white;
  max-height: 300px;
  /* padding-bottom: 50px; */
}

.pod-buttons{
 max-width: 90px;
 align-content: center;
 max-height: 30px;
 margin-right: 2%;
 border-radius: 20px;
}

.article-buttons{
  max-width: 100px;
  max-height: 40px;
  padding-right: 10px;
  margin-left: 10px;
  border-radius: 20px;

}


.repost-button {
  font-weight: 800;
  color: rgb(56, 56, 56);
  background-color: #ffffff;
  outline-color: rgb(56, 56, 56);
  border-color: rgb(56, 56, 56);
}

.author-date {
  max-height: 12%;
}
.title {
  max-height: 37%;
  /* padding-top: 20px; */
}

.date {
  text-align: right;
}

.pod-description{
  font-size: 18;
  font-family: "TimesNewRoman";
  margin-left: 12%;
  width: 96%;
  
}


.article-container {
  font-family: "Times New Roman";
  color: #1f1919;
  padding-right: 10px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 25px;
  width: 100%;
  position: left;
  float: left;
}

.pod-container {
  font-family: "Times New Roman";
  color: #1f1919;
  background-color: #ffffff;
  /* opacity: 0.4; */
  margin-top: 20px;
  /* margin-left: 20px; */
  border-radius: 25px;
  width: 100%;
  position: left;
  float: left;
}

.like-num {
  text-align: right;
  /* vertical-align:middle; */
  color: #1f1919;
  font-size: 26px;
  font-family: "TimesNewRoman",
                  
}

.pod-like{
  padding-left: 20px;
}

.iframe{
  align-items: center;
  align-self: center;
}

.commentsBox {
  width: auto;
  max-height: 250px;
  overflow-y: scroll;
  display: inline-block;
  margin-left: 20px;
}

.commentsSection {
  width: 100%;
  max-height: 250px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.postComment {
  padding: 10px;
}
