.saveButton {
    max-width:80px;
    max-height:80px;
    width: flex;
    height: flex;
    padding: 30;
}

.emotion{
    max-width:30px;
    max-height:30px;
    width: flex;
    height: flex;
    padding-right: 10px;
    
}
