body {
    background-color: #B3E5FC;
    border-radius: 10px;
}

.UserImg{
    
    position: relative;
    /* scale: absolute; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}


.card {
    width: 380px;
    border: 2;
    outline: 5px;
    outline-color: black;
    border-radius: 10px;
    background-color: #fff
    
}

.outlinediv{
    outline: solid;
    outline-color: black;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9;
    font-weight: 500;
}


