body {
  background-color: #b3e5fc;
  border-radius: 10px;
}

.UserImg {
  position: relative;
  /* scale: absolute; */
  width: 50%;
  height: 70%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  width: 90%;
  border: 2;
  outline: 5px;
  outline-color: black;
  border-radius: 10px;
  background-color: #fff;
}

.outlinediv {
  outline: solid;
  outline-color: black;
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}

.articles {
  font-size: 10px;
  color: #505050;
}

.header {
  font-size: 30px;
  color: #e669d5;
  
}

.number1 {
  font-weight: 500;
}

.followers {
  font-size: 10px;
  color: #020202;
  font-weight: 500;
}
