.App {
  text-align: center;
}


body {
  min-height: 100vh;
  font-weight: 400;
  font-family: TimesNewRoman;
  color:#eeeeee;
  background: #b3bcc9
  
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000266;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #00FFFF;
}

