* {
    box-sizing: border-box;
  }
  

  
  .outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .inner {
    width: 450px;
    font-family: TimesNewRoman;
    margin: auto;
    opacity: 0.9;
    background: #eceef0;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
.form-control:focus {
    
    box-shadow: none;
  }
  
  .outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  