.sidebarHeader {
  text-align: center;
  color: "white";
  font-size: 30px;
  /* marginBottom: 10px; */
  /* fontWeight: 1000, */
  text-align:justify;
}

.sidebarListItem{
  font-weight: 400;
  font-family: TimesNewRoman;
  color:#eeeeee;
  background: #222831;
  font-size: 20px;
  float: center;
}

.sidebarListButton{
  color:#eeeeee;
  background: #ec4843;
  font-size: 12px;
  border-radius: 10px;
  max-height: 30px;
  max-width: 30px;
  text-align: justify;
  vertical-align: top;
}

.sidebarList{
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}