.thread-page-content{
}
.articles{
   display: inline-block;
   width: 62%;
   position: relative;
   top:0px;
}
.sentiment{
   display: inline-block;
   width: 37%;
   position: relative;
   left:0;
}