.thread-page-content{
}
.articles{
   display: inline-block;
   width: 60%;
   position: absolute; 
   top: 70px;
   left: 30px;
}
.sentiment{
   display: inline-block;
   width: 35%;
   position: absolute;
   right: 50px;
}